<html>
<head>
    <title>{{ global.site_name }}</title>
</head>
<body>

    <img src="{{{ page.image_url   }}}"/>  <!-- 3 curly brackets used for https url -->
    <h1>{{page.greeting}}</h1>
    <p>{{page.introduction}}</p>


    <h3>Programming Languages</h3>
    <ol>
        {{#page.languages}} <!-- Using loops to generate arrays -->
        <li>{{name}} , {{years}} years of experience </li>
        {{/page.languages}} <!-- For mustache templating-->


    </ol>

            {{>form}}




</body>

</html>